<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="messageSendService" class="com.nhnacademy.edu.springframework.dooraySender.MessageSendService" autowire="constructor">
        <constructor-arg ref="doorayMessageSender"/>
    </bean>

    <bean id="doorayMessageSender" class="com.nhnacademy.edu.springframework.dooraySender.DoorayMessageSender">
        <constructor-arg ref="doorayHookSender"/>
    </bean>

    <bean id="doorayHookSender" class="com.nhn.dooray.client.DoorayHookSender">
        <constructor-arg index="0" ref="restTemplate"/>
        <constructor-arg index="1" value="https://hook.dooray.com/services/3204376758577275363/3514081992077299709/HOTTporbR6CBAVodltB-Dw"/>
    </bean>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate"></bean>


    <bean id="loggingAspect" class="com.nhnacademy.edu.springframework.dooraySender.LoggingAspect"/>
    <aop:config>
        <aop:aspect ref="loggingAspect">
            <aop:pointcut id="ElapsedTimeLog" expression="@annotation(com.nhnacademy.edu.springframework.dooraySender.ElapsedTimeLog)"/>
            <aop:around method="loggingSendMessageTime" pointcut-ref="ElapsedTimeLog"/>
        </aop:aspect>
    </aop:config>

</beans>